<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" content="text/html" http-equiv="content-type">
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    <form method="get" action="/Home/">
{#        {% csrf_token %}#}
{#        <br><input name="username" type="text" placeholder="username">#}
{#        <br><input name="password" type="password" placeholder="password">#}
{#        {{ error }}<br>#}
{#        <br><button id="submit" type="submit">submit</button>#}
        Welcome
    </form>
</body>
</html>