<head>
    <meta charset="UTF-8" content="text/html" http-equiv="content-type">
    <title>AutotestPlat</title>
    <style>body{text-align: center}</style>
</head>
<body>
    <div>
        <font size="1">
            <h1>自动化平台测试开发</h1>
        </font>
    <form method="post" action="/login/">
        {% csrf_token %}
        <br><a>&nbsp;&nbsp;用户名：</a><input name="username" type="text" placeholder="username">
        <br><a>&nbsp;密&nbsp;&nbsp;码：</a><input name="password" type="password" placeholder="password">
        <br>{{ error }}<br>
        <br>&nbsp;<button id="submit" type="submit",style="width:220px;height:28px">登  录</button>
    </form>
    </div>
</body>
</html>